@media (min-width: 1200px){
    .container {
        max-width: 1440px;
    }
}
body{
    font-family: 'Lato', sans-serif;
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

#root {
    word-wrap: break-word;
}

.banner {
    background: #F5F5F5;
    border-bottom: 2px solid #08224E;
}

.color-black{
    color: #08224E;
}

.logo-pokemon{
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

main{
    padding-top: 30px;
}
.categories{
    background: #ffffff;
    border-radius: 5px;
    padding: 20px 10px 10px 10px;
}

input.enlace{
    display: block;
    border:0;
    background-color:#fff;
    cursor:pointer;
    font-style: normal;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
}

.color-grass{
    color: #9BCC50;
}
